HRule {
	stroke-color: #9198B3;
	shadow-color: #9198B3;
	stroke-width: 1;
}
.sectionLabel {
	font-family: "Futura ICG Demi";
	font-size: 18;
	color: #f0f0f0;
	font-weight: normal;
}
.crosswordLabel {
	font-family: "Futura ICG Demi";
	font-size: 17;
	color: #f0f0f0;
	font-weight: normal;
}
.titleField {
	font-size: 21;
	font-weight: normal;
}
.creatorSectionMajor {
	background-color: #2C4B5F;
	border-color: #2C4B5F;
	border-style: solid;
	corner-radius: 4;
	border-thickness: 1;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	padding-top: 10;
}
.creatorSectionMinor {
	background-color: #233C4D;
	border-color: #233C4D;
	border-style: solid;
	corner-radius: 4;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
}
.subLabel
{
	fontFamily: "Arial Rounded MT Bold";
	color: #FFFFFF;
	fontSize: 14;
}
.numStepper
{
	fontFamily: "Arial Rounded MT Bold";
	color: #000000;
	fontSize: 12;
}
LinkButton.timelineWindowLinkButton
{
	color: #1A5F70;
}