/* --------------------------------  Embedded Fonts  --------------------------------------*/
@font-face {
	src: url("../swf/embeddedfonts.swf");
	fontFamily: "Arial Rounded MT Bold";
}
/*
@font-face {
	src: url("embeddedfonts.swf");
	fontFamily: "Arial Rounded MT Bold";
	fontStyle: italic;
}*/
/*
@font-face { src:url("ARLRDBD.TTF");
	fontFamily: "Arial Rounded MT Bold";
	fontWeight: normal;
	fontStyle: normal;
	advancedAntiAliasing: true; }*/
/*@font-face {
	src: url("embeddedfonts.swf");
	fontFamily: "Futura ICG";
}
@font-face {
	src: url("embeddedfonts.swf");
	fontFamily: "Futura ICG";
	fontStyle: italic;
}*/
@font-face {
	src: url("../swf/embeddedfonts.swf");
	fontFamily: "Futura ICG Demi";
}
/* --------------------------------  Font Styles  --------------------------------------*/
TextInput {
	color: #000000;
}
.accountTag {
	fontSize: 12;
}
.gameDetailsDesc {
	paddingRight: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingLeft: 5px;
	protectFontWeight: true;
}
.gameTitleText, .gameSubjectText, .loginTitle {
	color: #ffffff;
	 fontSize: 20;
	fontFamily: "Arial Rounded MT Bold";
	protectFontWeight: true;
}
.gameSubjectText {
	fontSize: 12;
}
.logoutText {
	 fontFamily: "Arial Rounded MT Bold";
	 color: #FFFFFF;
	 fontSize: 10;
	textAlign: right;
}
.whiteText {
	color: #FFFFFF;
	fontSize: 14;
}
.usedInGameLinkButton
{
	color: #FFFFFF;
	textDecoration: underline;
	leading: 0;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 0;
	paddingBottom: 0;
	cornerRadius: 2;
	fontSize: 14;
	rollOverColor: #F1AB14;
	selectionColor: #F1AB14;
	themeColor: #F1AB14;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
}
.panelTitle, .header, .centeredPanelTitle {
	fontFamily: "Futura ICG Demi";
	 color: #FFFFFF;
	 fontSize: 22;
}
.panelTitleSmall {
	fontFamily: "Futura ICG Demi";
	 color: #FFFFFF;
	 fontSize: 16;
	titleStyleName: titleWindowTitle;
}
.centeredPanelTitle {
	textAlign: center;
}
.header {fontSize: 18;}
.PageTitle {
	fontWeight: bold;
}
.strongLabel {
	fontWeight: undefined;
}
.loginPanelAppTitle{
	fontSize: 20;
	fontFamily: "Anivers Regular";
}
.loginPanelTextArea{
	fontFamily: Arial;
	fontSize: 13;
	borderColor: #990000;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	borderStyle: solid;
	cornerRadius: 5;
	paddingLeft: 10;
	paddingRight: 10;
}
.distributeTextArea{
	fontFamily: Arial;
	fontSize: 11;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	borderStyle: solid;
	cornerRadius: 5;
	paddingLeft: 10;
	paddingRight: 10;
}
.labelBehindInputText{
	borderColor: #1b406a;
	backgroundColor: #FFF;
	borderStyle: solid;
	cornerRadius: 2;
	color: #333333;
	fontFamily: Delicious-Heavy;
	fontWeight: normal;
	fontSize: 17;
	backgroundAlpha: 1;
}
.labelBehindInputLabel{
	color: #000000;
	fontFamily: Delicious-Heavy;
	fontWeight: normal;
	background-color: #FFFFFF;
	backgroundAlpha: 1;
	fontSize: 22;
}
.loginPanelTextInput{
	fontFamily: Arial;
	fontSize: 13;
	borderColor: #990000;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	borderStyle: solid;
	cornerRadius: 0;
	paddingLeft: 10;
 	backgroundAlpha: 1;
	paddingRight: 10;
}
.sharingNote {
	font-size: 10pt;
	color: #b5b5b6;
	modal-transparency: 0.3;
}
/* --------------------------------  Application  --------------------------------------*/
Application {
	 fontSize: 14;
	 fontFamily: "Verdana";
	protectFontWeight: true;
	modal-transparency-color: #000000;
	modal-transparency: 0.3;
}
.Header
{
	 font-family: futura;
	 font-size: 24pt;
}
/* --------------------------------  Buttons  --------------------------------------*/
Button, .tinyButton, ComboBox, .DefaultButton {
	backgroundAlpha: 1;
	color: #333333;
	textRollOverColor: #333333;
	textSelectedColor: #333333;
	disabledColor: #7b7b7b;
	themeColor: #69B4E3;
	fontSize: 14;
	fontFamily: "Arial Rounded MT Bold";
	font-weight: normal;
	fillAlphas: .8, .8, .8, .8;
}
	.blueButton
	{
		color: #F4F4F4;
		fillAlphas: 0.75, 1.0, 0.75, 1.0;
		fillColors: #4990C7, #377AA6, #7CB1D2, #6CAAD2;
		fontSize: 14;
		textRollOverColor: #F4F4F4;
		disabledColor: #D8DDE5;
	}
	.redButton
	{
		color: #FFFFFF;
		text-roll-over-color: #FFFFFF;
		fillAlphas: 1.0, 1.0, 1.0, 1.0;
		fillColors: #A00000, #530000, #960000, #B60000;
		fontSize: 14;
		disabledColor: #505050;
		textSelectedColor: #D00000;
	}
	.marginlessButton
	{
		paddingLeft: 0;
		paddingRight: 0;
		paddingTop: 0;
		paddingBottom: 0;
	}
	.blackButton
	{
		color: #FFFFFF;
		text-roll-over-color: #FFFFFF;
		fillAlphas: 1.0, 1.0, 1.0, 1.0;
		fillColors: #282828, #000000, #353535, #121212;
		fontSize: 15;
		disabledColor: #505050;
		font-weight: normal;
	}
	.tabButtons {
		backgroundAlpha: 1;
		color: #FFFFFF;
		textRollOverColor: #FFFFFF;
		textSelectedColor: #333333;
		disabledColor: #7b7b7b;
	  	themeColor: #1C282C;
		fontSize: 15;
		fontFamily: "Futura ICG";
		fillAlphas: 1.0, 1.0, 1.0, 1.0;
		fillColors: #192225, #192225, #192225, #192225;
		borderColor: #111719;
		paddingLeft: 6;
		paddingRight: 6;
		paddingBottom: 1;
		paddingTop: 1;
	}
	.OrangeButton {
		backgroundAlpha: 1;
		color: #FFFFFF;
		textRollOverColor: #FFFFFF;
		textSelectedColor: #333333;
		disabledColor: #7b7b7b;
	  	themeColor: #FFA84B;
		fontSize: 14;
		fontFamily: "Arial Rounded MT Bold";
		fillAlphas: 0.91, 0.8, 0.8, 0.8;
		fillColors: #FFA84B, #FFA84B, #FFA84B, #FFA84B;
		borderColor: #FFA84B;
	}
	.smallButton {
		backgroundAlpha: 1;
		color: #333333;
		textRollOverColor: #333333;
		textSelectedColor: #333333;
		disabledColor: #7b7b7b;
	  	themeColor: #377AA6;
		fontSize: 10;
		fontFamily: "Arial Rounded MT Bold";
		fillAlphas: .8, .8, .8, .8;
	}
	.tinyTextButton {
		fontSize: 11;
		/*fontWeight: bold;*/
		fontStyle: normal;
		textDecoration: none;
		textAlign: center;
		paddingRight: 2;
		paddingLeft: 2;
		paddingTop: 2;
		paddingBottom: 2;
		horizontalGap: 0;
		color: #FFFFFF;
		textRollOverColor: #333333;
		textSelectedColor: #333333;
		themeColor: #333333;
		fontFamily: "Arial Rounded MT Bold";
	}
	.tinyButton {
		fontSize: 11;
		/*fontWeight: bold;*/
		fontStyle: normal;
		textDecoration: none;
		textAlign: center;
		paddingRight: 2;
		paddingLeft: 2;
		paddingTop: 2;
		paddingBottom: 2;
		horizontalGap: 0;
		fontFamily: "Arial Rounded MT Bold";
	}
	.textButton, .checkBoxButton {
		color: #FFFFFF;
		textRollOverColor: #333333;
		textSelectedColor: #333333;
		themeColor: #333333;
		fontSize: 14;
		fontFamily: "Arial Rounded MT Bold";
	}
	.checkBoxButton {
		color: #FFFFFF;
		textRollOverColor: #FFFFFF;
		textSelectedColor: #FFFFFF;
		themeColor: #FFFFFF;
	}
	.buttonHideGameList
	{
		cornerRadius: 0;
		paddingLeft: 0;
		paddingRight: 0;
		fillAlphas: 1, 1, 1, 1;
		fillColors: #d4d0c8, #cccccc, #cccccc, #d4d0c8;
		borderColor: #D4D0C8;
	}
	.toggleButtonSelected
	{
		fontSize: 16;
		color: #292929;
		fontStyle: normal;
	}
	.buttonNewGameBar
	{
		backgroundAlpha: 1;
		buttonStyleName: buttonBarButton;
		fillAlphas: 1, 1, 1, 1;
	}
LinkButton
{
}
	.popupButton
	{
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		theme-color: #9A913D;
		color: #303030;
		font-size: 12;
		font-weight: normal;
	}
.lightList {
	backgroundAlpha: 1;
	alternatingItemColors: #D8D8D8, #E8E8E8;
	headerColors: #666666, #363636;
	horizontalGridLines: false;
	letterSpacing: 0;
	horizontalGridLineColor: #000000;
	verticalGridLines: true;
	verticalGridLineColor: #333333;
	rollOverColor: #39566c;
	textRollOverColor: #ededed;
	borderThickness: 1;
	borderColor: #101010;
	selectionColor: #377aa6;
	color: #000000;
	textSelectedColor: #ececec;
	textIndent: 0;
	dropShadowEnabled: true;
	shadowDistance: 0;
	shadowDirection: center;
	fontWeight: normal;
	headerStyleName: "mydataGridHeaderStyle";
	fontSize: 12;
}
/* --------------------------------  Data Grids  --------------------------------------*/
DataGrid {
	color: #000000;
}
	.draftCellLabel {
		color: #B8AABB;
	}
	.activeCellLabel {
		color: #ffffff;
		fontWeight: normal;
	}
	/*DataGrid, AdvancedDataGrid {*/
	.darkDataGrid {
		backgroundAlpha: .35;
		backgroundColor: #101010;
		alternatingItemColors: #333333, #3a3a3a;
		headerColors: #666666, #363636;
		horizontalGridLines: false;
		letterSpacing: 0;
		horizontalGridLineColor: #000000;
		verticalGridLines: true;
		verticalGridLineColor: #333333;
		rollOverColor: #39566c;
		textRollOverColor: #ededed;
		borderThickness: 1;
		borderColor: #101010;
		selectionColor: #377aa6;
		textSelectedColor: #ececec;
		textIndent: 0;
		dropShadowEnabled: true;
		shadowDistance: 0;
		shadowDirection: center;
		fontWeight: normal;
		headerStyleName: "mydataGridHeaderStyle";
	 	backgroundImage: ClassReference("materia.components.GradientBackground");
		backgroundSize: "100%";
		gradientType: radial;
		fillColors: #FFFFFF, #377aa6;
		fillAlphas: .34, .09;
		angle: 210;
		focalPointRatio: 0.45;
	}
	.gameDataGrid {
		backgroundAlpha: 1;
		alternatingItemColors: #D8D8D8, #E8E8E8;
		headerColors: #377AA6, #39566C;
		horizontalGridLines: true;
		letterSpacing: 0;
		horizontalGridLineColor: #B2B0B0;
		verticalGridLines: true;
		verticalGridLineColor: #818080;
		rollOverColor: #39566c;
		textRollOverColor: #ededed;
		borderThickness: 1;
		borderColor: #101010;
		selectionColor: #377aa6;
		color: #2E2E2E;
		textSelectedColor: #ececec;
		textIndent: 0;
		dropShadowEnabled: true;
		shadowDistance: 0;
		shadowDirection: center;
		fontWeight: normal;
		headerStyleName: "mydataGridHeaderStyle";
		fontFamily: Verdana;
		fontSize: 12;
	}
	.lightDataGrid {
		backgroundAlpha: 1;
		backgroundColor: #333333;
		alternatingItemColors: #ffffff, #cccccc;
		headerColors: #666666, #363636;
		horizontalGridLines: false;
		letterSpacing: 0;
		horizontalGridLineColor: #000000;
		verticalGridLines: true;
		verticalGridLineColor: #333333;
		rollOverColor: #39566c;
		textRollOverColor: #ededed;
		borderThickness: 1;
		borderColor: #101010;
		selectionColor: #377aa6;
		color: #000000;
		textSelectedColor: #ececec;
		textIndent: 0;
		dropShadowEnabled: true;
		shadowDistance: 0;
		shadowDirection: center;
		fontWeight: normal;
		headerStyleName: "mydataGridHeaderStyle";
	}
	.mydataGridHeaderStyle {
		color: #DCDCDC;
		fontWeight: bold;
		fontSize: 14;
		fontStyle: normal;
		textDecoration: none;
		letterSpacing: 0;
		textAlign: left;
	fontFamily: Arial;
	}
	.smallDataGrid {
		fontSize: 9;
	}
	.dataGridStyle
	{
		alternatingItemColors: #F2FBFF, #E0EEF0;
		backgroundAlpha: 0.81;
		selectionColor: #A6DCFE;
		headerColors: #F2FBFF, #E0EEF0;
		borderThickness: 0;
		verticalScrollBarStyleName: dataGridVerticalScrollBar;
		verticalGridLines: false;
		horizontalGridLines: false;
		verticalAlign: top;
		textAlign: left;
	}
	.dataGridVerticalScrollBar
	{
	}
/* --------------------------------  Menus and Lists  --------------------------------------*/
ComboBox
{
	cornerRadius: 4;
	dropdownStyleName: "dropdown";
	font-weight: bold;
	color: #C6C6C6;
	borderColor: #333333;
	fillAlphas: 1.0, 1.0;
	fillColors: #3D3D3D, #2C2C2C, #505050, #6A6A6A;
	themeColor: #B4B4B4;
}
	.comboBoxDropdown
	{
		backgroundColor: #CBCBCB;
		selectionColor: #EEEEEE;
		rollOverColor: #4C7894;
		verticalScrollBarStyleName: listBaseVerticalScrollBar;
		textRollOverColor: #F7F7F7;
	}
	.dropdown { /* Not Used */
		color: #C6C6C6;
		backgroundColor: #333333;
		borderColor: #000000;
		rollOverColor: #6CB4E2;
		selectionColor: #ECEDED;
	}
HorizontalList
{
	backgroundAlpha: 0;
	borderStyle: none;
	textAlign: center;
}
TileList.tileListNewGame
{
	rollOverColor: #A8D8F7;
	selectionColor: #4EB3F3;
}
/* --------------------------------  Tab Navigators  --------------------------------------*/
TabNavigator, .defaultTabNavigator {
	fontWeight: bold;
	tabStyleName: tabNavigatorTab;
	color: #FFFFFF;
	background-color:#737E90;
	border-color:#262B3B;
	border-style:solid;
	selectedTabTextStyleName:"selectedTab";
	tabStyleName:"regularTab";
}
	.regularTab
	{
	background-color:#737E90;
	}
	.selectedTab {
	color:#2c4b5f;
	}
/* --------------------------------  Panels  --------------------------------------*/
/*
Panel {
	titleStyleName: "panelTitle";
	color: #FFFFFF;
	fontSize: 14;
  	borderThicknessTop: 1;
	borderThicknessBottom: 1;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderColor: #377AA6;
	backgroundColor: #C2C2C2;
	borderAlpha: 0.0;
 	backgroundAlpha: 0.0;
	roundedBottomCorners: true;
	protectFontWeight: true;
}*/
	.thinPanel, .centeredPanel {	title-style-name: "panelTitle";
		color: #FFFFFF;
		fontSize: 14;
		borderStyle: solid;
		borderColor: #377aa6;
		borderAlpha: 1;
		borderThickness: 1;
		roundedBottomCorners: true;
		cornerRadius: 6;
		backgroundAlpha: 0.2;
		backgroundColor: #303030;
		dropShadowEnabled: false;
	 	backgroundImage: ClassReference("materia.components.GradientBackground");
		backgroundSize: "100%";
		gradientType: radial;
		fillColors: #FFFFFF, #377aa6;
		fillAlphas: .8, .12;
		angle: 240;
		focalPointRatio: -.36;
	}
	.thinCanvas {
		color: #FFFFFF;
		fontSize: 14;
		borderStyle: solid;
		borderColor: #377aa6;
		borderAlpha: 1;
		borderThickness: 1;
		cornerRadius: 6;
		backgroundAlpha: 0.2;
		backgroundColor: #303030;
		dropShadowEnabled: false;
	 	backgroundImage: ClassReference("materia.components.GradientBackground");
		backgroundSize: "100%";
		gradientType: radial;
		fillColors: #FFFFFF, #377aa6;
		fillAlphas: .8, .12;
		angle: 240;
		focalPointRatio: -.36;
	}
	.gameDetailsNavigator
	{
		tabStyleName: "gameDetailsNavigatorTabs";
		firstTabStyleName: "gameDetailsNavigatorTabs";
		lastTabStyleName: "gameDetailsNavigatorTabs";
		selectedTabTextStyleName: "gameDetailsNavigatorSelectedTabs";
	borderColor: #FFFFFF;
	backgroundColor: #BFCDD6;
	backgroundAlpha: 0.08;
	horizontalAlign: center;
	}
	.gameDetailsNavigatorTabs {
		fillColors: #5A5A5A, #5A5A5A;
		color: #B5B5B5;
		fillAlphas: 1.0, 1.0;
	borderColor: #FFFFFF;
	}
	.gameDetailsNavigatorSelectedTabs {
	color: #303030;
	}
	.questionScreenOverlayPanel
	{
		color: #FFFFFF;
		fontSize: 14;
		borderStyle: solid;
		borderColor: #377aa6;
		borderAlpha: 1;
		borderThickness: 1;
		roundedBottomCorners: true;
		cornerRadius: 6;
		backgroundAlpha: 0.2;
		dropShadowEnabled: false;
	 	backgroundImage: ClassReference("materia.components.GradientBackground");
		backgroundSize: "100%";
		gradientType: linear;
		fillColors: #1d4762, #377aa6;
		fillAlphas: .10, .14;
		angle: 240;
		focalPointRatio: -.66;
	}
	.bluePanel
	{
		borderAlpha: 1;
		backgroundAlpha: 0.6;
		backgroundColor: #3E3E3E;
		controlBarStyleName: panelControlBar;
		paddingLeft: 0;
		paddingRight: 0;
		paddingTop: 0;
		paddingBottom: 0;
		roundedBottomCorners: false;
	}
	.centeredPanel {
		titleStyleName: "centeredPanelTitle";
	/*	  backgroundAlpha: 1;
		backgroundColor: #FFFFFF;  */
		/* borderStyle: applicationControlBar;
		gradientType: radial;
		highlightAlphas: 0, 0; */
	}
	.newQuestionPanel {
		backgroundColor: #333333;
		color: #ffffff;
	}
	.subPanel {
		color: #FFFFFF;
		fontSize: 14;
		borderColor: #2D6FA7;
		/*themeColor: #009DFF;*/
		backgroundAlpha: 0.44;
		backgroundColor: #2D6FA7;
		borderAlpha: 0.2;
		borderThicknessTop: 5;
		borderThicknessBottom: 5;
		borderThicknessLeft: 5;
		borderThicknessRight: 5;
	}
	.simplePanel {
		background-color: #233C4D;
		border-color: #233C4D;
		border-style: solid;
		corner-radius: 4;
	}
	.panelControlBar
	{
	}
/* --------------------------------  Popups/Windows  --------------------------------------*/
.alertPopup
{
	 backgroundAlpha: 0.95;
	 backgroundColor: #83939E;/*#1C1C1C;*/
	 borderAlpha: 0.8;
	 borderColor: #C4CFD7;
	 color: #FFFFFF;
	 buttonStyleName: "alertButton";
	 messageStyleName: "alertMessage";
	borderStyle: solid;
	cornerRadius: 4;
	drop-shadow-enabled: true;
	borderThickness: 2;
}
	.alertPopupTitle
	{
		font-size: 16;
		font-thickness: 8;
		fontFamily: "Arial Rounded MT Bold";
	}
	.alertButton
	{
		themeColor: #485B68;
		color: #000000;
	}
	.alertMessage
	{
		paddingBottom: 10px;
	}
	TitleWindow
	{
		color: #FFF;
		fontSize: 14;
		borderThicknessTop: 0;
		borderThicknessBottom: 4;
		borderThicknessLeft: 4;
		borderThicknessRight: 4;
		borderColor: #CCD3D8;
		backgroundColor: #5A6975;
		borderAlpha: 0.95;
		backgroundAlpha: 1.0;
		roundedBottomCorners: false;
		controlBarStyleName: titleWindowControlBar;
		statusStyleName: titleWindowStatus;
		titleStyleName: titleWindowTitle;
		cornerRadius: 2;
		headerHeight: 30;
		color: #375974;
	}
	.popUpWindow
	{
		titleStyleName: "panelTitleSmall";
		borderAlpha: 0.9;
		backgroundAlpha: 1.0;
		backgroundColor: #3E3E3E;
		controlBarStyleName: panelControlBar;
		paddingLeft: 0;
		paddingRight: 0;
		paddingTop: 0;
		paddingBottom: 0;
		borderThicknessTop: 0;
		borderThicknessBottom: 0;
		borderThicknessLeft: 0;
		borderThicknessRight: 0;
		roundedBottomCorners: false;
	}
	.titleWindowControlBar
	{
		backgroundAlpha: 1.0;
		fontFamily: "Times New Roman";
		fontSize: 23;
		horizontalAlign: center;
	}
	.titleWindowStatus
	{
		text-align: center;
	}
	.titleWindowTitle
	{
		fontSize: 16;
		fontFamily: "Arial Rounded MT Bold";
		fontWeight: normal;
	}
	.helpBubble
	{
		borderSkin: Embed(source="/assets/materia/swf/helpBubble.swf", symbol="helpBubble");
	}
	.transparentModal
	{
		modal-transparency: 0;
		modal-transparency-blur: 0;
	}
/* --------------------------------  LOGIN PANEL  --------------------------------------*/
.loginPanel {
	backgroundColor: #fdf2de;
	color: #333333;
	fontSize: 12;
}
.loginPanelText {
	fontSize: 22;
	textAlign: center;
}
.loginPanelContentH1{
	fontFamily: Delicious-Heavy;
	fontSize: 27;
	color: #383838;
}
.loginPanelTitle {
	fontFamily: Delicious-Heavy;
	fontSize: 27;
	color : #990000;
}
.loginPanelDate {
	fontWeight: bold;
}
.loginPanelHRule {
	strokeWidth: 2;
	strokeColor: #383838;
}
.loginPanelButton {
	fontWeight: bold;
	fontFamily: Arial;
	fontSize: 16;
	borderColor: #1b406a;
	color: #ffffff;
	cornerRadius: 5;
	fillColors: #0d3674, #4d7cf4;
	fillAlphas: .7, .3;
	textRollOverColor: #ffffff;
}
.loginPanelLinkButton {
	fontFamily: Delicious-Heavy;
	fontWeight: normal;
	fontSize: 16;
	maxFontSize: 16;
	minFontSize: 16;
	color: #4f688f;
	text-decoration: underline;
	preventZoom: true;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
.loginPanelProgressBar {
	barColor: #526EA1;
	trackHeight: 10;
	trackColors: #555555, #DDDDDD;
	fontSize: 10;
	preventZoom: true;
	textAlign: center;
	verticalGap: 0;
	borderColor: #BEBEBE;
}
/* --------------------------------  Misc. Components  --------------------------------------*/
CheckBox {
	textRollOverColor: #dedede;
}
.gradientBackground1 {
	/* Radial Background Gradient (Very Faint) */
 	backgroundImage: ClassReference("materia.components.GradientBackground");
	backgroundSize: "100%";
	gradientType: radial;
	fillColors: #FFFFFF, #377aa6;
	fillAlphas: .11, .05;
	angle: 30;
	focalPointRatio: 0.60;
}
.gradientBackground2 {
	/* Radial Background Gradient (Somewhat Faint) */
 	backgroundImage: ClassReference("materia.components.GradientBackground");
	backgroundSize: "100%";
	gradientType: radial;
	fillColors: #FFFFFF, #377aa6;
	fillAlphas: .34, .09;
	angle: 210;
	focalPointRatio: 0.45;
}
/**
Accordion {
	color: #000000;
	headerStyleName: accordionHeader;
	headerHeight: 30;
}
.accordionHeader
{
	fontSize: 15;
}
*/
.listBaseVerticalScrollBar
{
}
.importLoaderBottomBar
{
	borderStyle: solid;
	borderThickness: 2;
}
.darkRadioButton
{
	color: #FFFFFF;
	fontFamily: Arial;
	textRollOverColor: #F2F2F2;
	textSelectedColor: #DDEAF0;
}
.questionTextArea
{
	backgroundColor: #EAEAEA;
	borderColor: #626262;
	borderStyle: solid;
	borderThickness: 1;
	color: #000000;
	cornerRadius: 0;
	fontSize: 17;
}
.toggleButtonBar {
	buttonStyleName: toggleButtonBarButton;
}
.toggleButtonBarButton
{
	fontWeight: normal;
	color: #616161;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fontFamily: "Arial Rounded MT Bold";
	fontSize: 14;
}
DateChooser
{
	headerStyleName: dateChooserHeader;
}
	.dateChooserHeader
	{
		color: #1B1919;
		fontWeight: bold;
	}
DateField.monthChooser
{
	borderColor: #ABD8F5;
}
.crosswordBackground
{
	borderStyle: applicationControlBar;
	fillColors: #377aa6, #295f81;
	fillAlphas: 1, 0.9;
	highlightAlphas: 0, 0;
}
.actionButton
{
	borderColor: #192F3D;
	color: #E5EBF0;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fillColors: #496475, #496475;
	font-weight: normal;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
}
.crosswordToggleButtonBar {
	buttonStyleName: gameButton;
}
.gameButton, .gameButtonSmall{
	fontSize:13;
	text-roll-over-color:#FFFFFF;
	color:#FAFAFA;
	fontFamily: "Arial Rounded MT Bold";
	font-weight: normal;
	border-thickness: 1;
	border-color:#ffffff;
	fill-colors: #333333, #000000;
	text-selected-color: #FFFFFF;
	paddingBottom:6;
	paddingTop:6;
	paddingLeft:6;
	paddingRight:6;
	fillAlphas: 1, 1, 1, 1;
}
.gameButtonSmall {
	fontSize:18;
	paddingBottom:9;
	paddingTop:9;
	paddingLeft:9;
	paddingRight:9;
}
Button.guidedTourButton
{
	borderColor: #373737;
	color: #8E8E8E;
	fillAlphas: 0.12, 0.12, 0.12, 0.12;
	fontSize: 11;
	paddingBottom: 0;
	paddingTop: 0;
	textRollOverColor: #EDEDED;
	themeColor: #DCDCDC;
}
.smallDate
{
	color: #ffffff;
	fontSize: 10;
}
.creatorSlider
{
	color:#ffffff;
	fontSize:11;
	tick-color: #ffffff;
}
.wordSearchText
{
	fontSize:14;
	color: #ffffff;
}