@font-face {
	src:url("EnigmaFonts.swf");
	fontFamily: "Corbel";
}
@font-face {
	src:url("EnigmaFonts.swf");
	fontFamily: "Corbel";
	fontWeight: bold;
}
@font-face {
	src:url("EnigmaFonts.swf");
	fontFamily: "Century Gothic";
	fontWeight: bold;
}
@font-face {
	src:url("EnigmaFonts.swf");
	fontFamily: "Calibri";
	fontWeight: bold;
}
.EnigmaQuestionEditPanel {
	 titleStyleName: "E2EditQuestionPanelTitle";
	   color: #FFFFFF;
	   fontSize: 14;
	   borderThicknessTop:1;
	   borderThicknessBottom:1;
	   borderThicknessLeft:1;
	   borderThicknessRight:1;
	   borderColor:#121D29;
	   backgroundColor:#121D29;
	   borderAlpha:0.95;
	   backgroundAlpha:0.95;
	   roundedBottomCorners:false;
	controlBarStyleName: titleWindowControlBar;
	statusStyleName: titleWindowStatus;
}
.E2EditQuestionPanelTitle {
	fontFamily: "Corbel";
    color: #FFFFFF;
    fontSize: 23;
    fontWeight:bold;
}
.sectionTitle {
	fontSize: 22;
	fontFamily: "Delicious Heavy";
	color:#ffffff;
}
.WeeeApplication {
    fontSize: 14;
    fontFamily: "Verdana";
}
.questionTileInfoText {
	fontSize:11;
    fontFamily: "Verdana";
    color:#000000;
}
.ETitle, .ETitleEdit {
	fontSize:24;
	fontFamily: "Corbel";
	fontWeight: bold;
	color: #ffffff;
}
.ECTitleEdit {
	color: #FFFFFF;
	backgroundAlpha:0;
	borderAlpha:0;
}
.questionTileText {
	fontFamily: "Century Gothic";
	fontSize:32;
}
.questionTileTextHackBugfixStyle
{
	fontSize:32;
}
.answerLetter {
	fontFamily: "Corbel";
	fontSize:25;
	fontWeight:bold;
}
.textFeildEdit {
	color: #000000;
}
.textFeildLabel, .categoryTitle {
	color: #FFFFFF;
	fontFamily: "Corbel";
	fontSize:20;
}
.WhatPanel {
   titleStyleName: "panelTitle";
   color: #FFFFFF;
   fontSize: 14;
   borderThicknessTop:1;
   borderThicknessBottom:1;
   borderThicknessLeft:1;
   borderThicknessRight:1;
   borderColor:#377AA6;
   backgroundColor:#C2C2C2;
   borderAlpha:0.2;
   backgroundAlpha:0.1;
   roundedBottomCorners:true;
}
.titleWindowControlBar
{
}
.titleWindowStatus
{
}
.enigmaCategory {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="categoryTitle");
	fontSize:18;
	color:#000000;
}
.enigmaQuestion {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="questionBox");
	fontSize:18;
	color:#000000;
}
.deleteQuestionX {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="closeX");
}
.deleteQuestionXHover {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="closeX_Hover");
}
.addQuestionPlus {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="addQuestionPlus");
}
.addQuestionPlusHover {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="addQuestionPlus_Hover");
}
.addQuestionPlusDisabled {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="addQuestionPlusDisabled");
}
.deleteAnswerButton {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="closeX");
}
.deleteAnswerButtonHover {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="closeX_Hover");
}
.enigmaAnswerGridItem {
	borderSkin: Embed(source="enigmaGraphics.swf", symbol="white_bg");
}