<!DOCTYPE html>
<html>
	<head>
		<title>HTML Widget Engine</title>
		<meta charset="utf-8" />
		<style type="text/css"></style>
		<script type="text/javascript" src="/js/materia.require.js"></script>
		<link rel="stylesheet" type="text/css" href="css/widget.css">
		<script type="text/javascript">
			require(['materia', 'score', 'underscore', 'js/widget'], function(util) {
				Materia.start(Widget);
			});
		</script>
	</head>
	<body>

<script type="text/template" id="t-board"><div class="screen board">
	<header class="header">
		<h1><span><%= title %></span></h1>
		<div class="score" role="status">
			<span class="hidden">Score:</span> <span class="value">0</span><span class="percent">%</span>
		</div>
		<div class="menu off"></div>
	</header>
	<section class="gameboard">
		<!-- categories -->
		<% for(var i in categories){ var cat = categories[i]; %>
			<section class="category" data-id="<%= i %>">
				<div class="title">
					<%= cat.name %>
					<div class="arrow-right"></div>
				</div>
				<!-- questions -->
				<% for(var q in cat.items) { var question = cat.items[q]; %>
					<div role="button" title="<%= cat.name %> question #<%= parseInt(q, 10)+1 %>: Unanswered" class="question unanswered" data-id="<%= question.id %>" ><%= parseInt(q, 10)+1 %></div>
				<% } %>
			</section>
		<% } %>
	</section>
</div>
</script>

<script type="text/template" id="t-question-page"><div class="screen question">
	<section class="question-popup" data-id="<%= id %>">
			<h1>Question <%= index %> in "<%= category %>"</h1>
			<div class="question-text">
				<%= question %>
			</div>
			<div class="answers">
				<ul>
					<% for(var i in answers){ %>
						<li><input type="radio" id="answer-<%= i %>" value="<%= answers[i].id %>" name="group1"/><label for="answer-<%= i %>"><%= answers[i].text %></label></li>
					<% } %>
					
				</ul>
			</div>
			<div class="menu">
				<button class="button return">Return</button>
				<button class="button submit" disabled>Submit Final Answer</button>
			</div>

	</section>
</div>
</script>

<script type="text/template" id="t-finish-notice"><section class="notice">
		<h1>All Questions Answered</h1>
		<button>Submit for Review</button>
	</section>
</script>
	</body>
</html>