/* Standardize padding in all browsers */
html, body, div {
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	min-height: 100%;
}

body {
	background: #1b2128;
	color: #fff;
	font-family: 'Lato', "Arial", sans-serif;
	font-weight: 300;
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;
	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		float: right;
		margin-right: 10px;
		margin-top: 6px;
		font-size: 14px;
	}
	.center {
		text-align: center;
		left: 0px;
		right: 0px;
		position:absolute;
		margin-top: 8px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 100;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
	}
}

#board {
	width: 750px;
	background: #2f3845;
	margin: auto;
	position:relative;
	display: block;
}

#add_category_button {
	background-color: #283545;
	border: 1px solid #f0f0f0;
	height: 110px;
	line-height: 110px;
	text-align: center;
}

button {
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	border: none;

	&:hover {
		cursor: pointer;
	}

	&.delete {
		background-image: url('assets/ecks.png');
		height: 24px;
		width: 26px;
		&:hover {
			background-image: url('assets/ecks-h.png');
		}
	}

	&.add {
		background-image: url('assets/plus.png');
		height: 42px;
		margin: 0;
		padding: 0;
		width: 42px;
		&:hover {
			background-image: url('assets/plus-h.png');
		}
	}
}

.category {
	height: 125px;
	margin: 0;
	overflow-x: auto;
	white-space: nowrap;

	&>button.delete {
		vertical-align: top;
		margin-top: 50px;
	}

	&.active {
		background-color: #16222a;
	}
	&.drop_target {
		-webkit-box-shadow: 0px 0px 1px 2px rgba(178, 255, 255, .75);
		-moz-box-shadow: 0px 0px 1px 2px rgba(178, 255, 255, .75);
		box-shadow: 0px 0px 1px 2px rgba(178, 255, 255, .75);
	}

	.question {
		counter-increment: q;
		margin-left: 10px;
		margin-top: 15px;
		vertical-align: top;

		&:before {
			color: #000;
			content: counter(q);
		}
	}

	.add_line {
		background-color: #d3d3d3;
		display: inline-block;
		height: 100px;
		margin-top: 15px;
		vertical-align: top;
		width: 5px;
	}

	.add {
		margin-left: 10px;
		margin-top: 40px;
	}
}

.question {
	background-color: #fff;
	border: 3px solid #16222a;
	display: inline-block;
	height: 80px;
	margin: 5px;
	padding: 0;
	position: relative;
	width: 80px;

	&:before {
		color: #000;
		content: "?";
		font-size: 18px;
		font-weight: bolder;
		position: absolute;
		top: 20px;
		right: 40px;
	}

	div {
		color: #000;
		font-size: 12px;
		margin: 40px 0 0;
		padding: 0;
		text-align: center;
		white-space: pre-line;
		width: 100%;
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
	}

	&:hover {
		background-color: #fdffdc;
		outline: 5px solid #b2e1ff;
	}
	&.dim, &.dim:hover {
		background-color: #7d8184;
		outline: none;
	}

	&.selected {
		-webkit-box-shadow: 0px 0px 1px 2px rgba(255, 255, 190, .75);
		-moz-box-shadow: 0px 0px 1px 2px rgba(255, 255, 190, .75);
		box-shadow: 0px 0px 1px 2px rgba(255, 255, 190, .75);
	}
}

.cat_label {
	background: #fff;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
	border: 4px solid #666;
	display: inline-block;
	margin-top: 25px;
	position: relative;
	vertical-align: top;

	textarea {
		-moz-border-radius:    10px;
		-webkit-border-radius: 10px;
		border-radius:         10px;
		border: none;
		height: 55px;
		margin: 0;
		padding: 2px;
		resize: none;
		text-align: center;
		width: 86px;
		&:focus {
			text-align: left;
			outline: none;
		}
	}

	&:after {
		border-bottom: 12px solid transparent;
		border-left: 12px solid #666;
		border-top: 12px solid transparent;
		content: "";
		position: absolute;
		top: 30%;
		z-index: 0;
	}
}

.question_window {
	background: #31394b;
	color: #000;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border-radius:         3px;
	border: 3px solid #e0e0e0;
	height: 428px;
	position: absolute;
	top: 100px;
	left: 30%;
	padding: 10px 0 0 10px;
	width: 464px;
	z-index: 100;

	textarea {
		height: 60px;
		resize: none;
		width: 442px;
	}

	.answer_area {
		background-color: #fff;
		height: 240px;
		margin: 0;
		padding: 0;
		width: 442px;
		overflow-y: auto;
	}

	div {
		min-height: 40px;
		margin: 0 auto;
		padding: 5px 0 0;
	}

	.add_answer {
		background-color: #c9c9c9;
		height: 40px;
		line-height: 40px;
		margin-bottom: 20px;
		text-align: center;
	}

	button {
		background-color: #ddd;
		background-repeat: repeat-x;
		border-radius:         3px;
		-moz-border-radius:    3px;
		-webkit-border-radius: 3px;
	}
}

.template {
	display: none;
}

#modal {
	background-color: rgba(0, 0, 0, .5);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 50;
}

.answer {
	overflow: hidden;

	&:nth-child(even) {
		background-color: #eaeaea;
	}

	.letter, .feedback_icon {
		display: inline-block;
		min-height: 13px;
		width: 40px;
		text-align: center;
	}

	.answer_text {
		height: 30px;
		margin: 0;
		padding: 0;
		width: 280px;
	}
	.answer_value {
		background-color: rgba(0,0,0,0);
		border: none;
		height: 22px;
		text-align: center;
		width: 45px;
	}
	.answer_remove {
		background-image: url('assets/ecks.png');
		display: inline-block;
		height: 24px;
		vertical-align: text-bottom;
		width: 24px;
		&:hover {
			background-image: url('assets/ecks-h.png');
		}
	}
	.feedback_icon {
		background-image: url('assets/feedback_icon.png');
		background-position: center;
		background-repeat: no-repeat;
	}
	.feedback_text {
		background-color: #fffecb;
		height: 30px;
		width: 365px;
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

.import_area {
	background: #333;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
	border: 1px solid #b7babc;
	display: none;
	margin: 10px;
	padding: 0 10px 10px;

	&>div {
		border: 1px solid #b7babc;
		height: 125px;
		margin: 0;
		overflow-x: auto;
		white-space: nowrap;
	}

	.add {
		display: none;
	}

	&>button {
		background-color: #ddd;
		background: -webkit-linear-gradient(top, #c4c7cc, #717580);
		background: -moz-linear-gradient(top, #c4c7cc, #717580);
		background: -ms-linear-gradient(top, #c4c7cc, #717580);
		background: -o-linear-gradient(top, #c4c7cc, #717580);
		background-repeat: repeat-x;
		border-radius:         3px;
		-moz-border-radius:    3px;
		-webkit-border-radius: 3px;
	}
}

.tutorial {
	border: 2px solid #fff;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
	font-size: 24px;
	padding: 15px;
	position: absolute;

	&.step1 {
		height: 90px;
		left: 20%;
		top: 500px;
		width: 335px;

		&:before {
			background-image: url('assets/arrow.png');
			bottom: 122px;
			content: "";
			height: 286px;
			left: 100px;
			position: absolute;
			width: 299px;
		}
	}

	&.step2, &.step3 {
		bottom: 5px;
		height: 90px;
		right: 5px;
		width: 650px;
	}

	&.step3 {
		height: 140px;
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		-webkit-transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -315px;
	margin-top: -180px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
	}
	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: #70bd34;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}

}

label.checktoggle {
	display: inline-block;
	width: 80px;
	height: 17px;
	background: #777;
	padding: 5px;
	color: #fff;
	
	position:relative;
	margin-left: 20px;

	transition: all ease 0.25s;

	&:before {
		content: 'OFF';
		transition: all ease 0.25s;
		background: #be3434;
		padding: 5px 7px;
		margin: -5px;
		width: 30px;
		display: inline-block;
	}
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + label.checktoggle {
	&:before {
		content: 'ON';
		background: #70be34;
		margin-left: 35px;
		padding-left: 13px;
	}
}

.category {
	display: block;
	height: 120px;
}

