<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Enigma Widget Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet" type="text/css">
		<link href="assets/jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular-animate.min.js"></script>
		<script src="assets/jquery-ui-1.10.4.custom.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app="enigmaCreator" ng-controller="enigmaCreatorCtrl">
		<div id="modal"></div>
		<div id="header">
			<div class="logo"></div>
			<h1 id="title"
				ng-bind="title"
				ng-click="showTitleDialog = true">
			</h1>
			<div class="link" ng-click="showTitleDialog = true">Edit...</div>
			<div class="right">
				Randomize Answer Order
				<input type="checkbox" id="randomize" ng-model="qset.options.randomize"/>
				<label for="randomize" class="checktoggle"></label>
			</div>
			<div class="right">
				Hide Correct Answers
				<input type="checkbox" id="hide-correct" ng-model="qset.options.hide_correct"/>
				<label for="hide-correct" class="checktoggle"></label>
			</div>
		</div>
		<div class="importedbackground" ng-class="{ show: imported.length }"></div>
		<div id="board">
			<div class="imported_pane" ng-class="{ show: imported.length }">
				<div class="arrow_box_tip" ng-show="!shownImportTutorial">
					Drag &amp; drop these over empty questions to add them to your game board
				</div>
				<div class="background"></div>
				<div class="imported">
					<button ng-click="imported=[]">Done Importing</button>
					<input type="button" ng-click="imported = []" value="Done Importing">
					<b>Imported questions</b><br>
					<div class="overflower">
						<div class="importable"
							ng-repeat="question in imported"
							data-index="{{$index}}">
							<strong>{{ question.questions[0].text }}</strong>
							<a href="javascript:;" ng-click="imported.splice($index,1)">x</a>
						</div>
					</div>
				</div>
			</div>
			<div class="categories">
				<div class="category" ng-repeat="category in qset.items">
					<div class="label" style="opacity:{{ categoryOpacity(category,$index) }}">
						<button class="shift-up"
							ng-show="!category.isEditing && !category.untouched && category.index > 0"
							ng-click="categoryReorder($index, false)"></button>
						<button class="shift-down"
							ng-show="!category.isEditing && !category.untouched && category.index < qset.items.length && !qset.items[category.index+1].untouched"
							ng-click="categoryReorder($index, true)"></button>
						<button class="delete"
							ng-show="!category.isEditing && !category.untouched"
							ng-click="deleteCategory(category)"></button>
						<textarea ng-model="category.name"
							id="category_{{$index}}"
							ng-disabled="!categoryEnabled(category,$index)"
							ng-focus="editCategory(category)"
							ng-blur="stopCategory(category)"
							ng-enter></textarea>
					</div>
					<button ng-show="categoryShowAdd(category,$index)" class="add"></button>
					<div ng-show="categoryShowAdd(category,$index)"
						class="newcat"
						ng-click="newCategory({{$index}}, category)">
						New Category
					</div>
					<div class="questionholder"
						ng-repeat="question in category.items"
						ng-click="editQuestion(category,question,$index)">
						<div class="question"
							ng-class="{ show: !question.untouched, incomplete: !question.complete }"
							data-category="{{category.index}}"
							data-question="{{$index}}"
							ng-mouseover="markQuestion(category, question)"
							ng-mouseout="unmarkQuestion()">
							<div class="number">{{ $index+1 }}</div>
						</div>
						<button ng-show="questionShowAdd(category, question, $index)" class="add"></button>
					</div>
				</div>
				<div id="question_tooltip"
					ng-class="{ show: hoverQuestion, problems: !hoverQuestion.complete }"
					ng-style="{ top: ((hoverCategory.index+1) * 120) + 10 + 'px' }"
					class="q{{hoverQuestion.index+1}}">
					<p ng-show="!hoverQuestion.complete">Question invalid:</p>
					<p ng-show="hoverQuestion.complete"><strong>{{ hoverQuestion.questions[0].text }}</strong></p>
					<hr ng-show="hoverQuestion.complete"/>
					<span ng-show="!hoverQuestion.complete"
						ng-repeat="problem in hoverQuestion.problems">
						{{problem}}
					</span>
					<span ng-show="hoverQuestion.complete"
						ng-repeat="answer in hoverQuestion.answers"
						ng-class="{ correct: answer.options.correct }">
						{{answer.text}}
					</span>
				</div>
				<div id="question_editor"
					ng-style="{ top: ((curCategory.index+1) * 120) + 'px' }"
					class="q{{curQuestion.index+1}}"
					ng-class="{ show: curQuestion }">
					<div class="title">Question {{curQuestion.index+1}} in "{{curCategory.name}}"</div>

					<textarea ng-model="curQuestion.questions[0].text"
						focus-me="curQuestion"
						placeholder="Enter your question here" id="question_text"
						autofocus>
					</textarea>

					<table class="questions">
						<thead>
							<tr>
								<th>Answer Text</th>
								<th>Optional Response</th>
								<th>Score Value</th>
							</tr>
						</thead>
						<tbody>
						<tr ng-repeat="answer in curQuestion.answers">
							<td>
								<textarea class="answerChoiceBox"
									ng-model="answer.text"
									placeholder="Enter an answer choice">
								</textarea>
							</td>
							<td>
								<textarea class="feedbackChoiceBox"
									ng-model="answer.options.feedback"
									placeholder="Optional response for student when this answer is chosen.">
								</textarea>
							</td>
							<td>
								<div class="controls">
									<div class="slide-toggle" ng-show="!answer.options.custom">
										<input type="checkbox" id="qtoggle{{$index}}" ng-model="answer.options.correct"/>
										<label for="qtoggle{{$index}}" class="checktoggle">
											<span></span>
										</label>
									</div>
									<a href="javascript:;" ng-click="answer.options.custom = true">Set percentage</a>

									<div class="text" ng-show="answer.options.custom">
										<input type="text" ng-model="answer.value" ng-change="numbersOnly(answer)" ng-blur="">%
									</div>
								</div>
								<button class="delete" ng-click="deleteAnswer($index)"></button>
							</td>
						</tr>
						</tbody>
					</table>

					<div class="dialog-controls">
						<button class="add-question action" ng-click="addAnswer()">+ Add an Answer</button>
						<button class="open-submenu"
							ng-click="subMenu = !subMenu"
							ng-show="curQuestion.index > 0 || curQuestion.index < curCategory.items.length && !curCategory.items[curQuestion.index+1].untouched">
						</button>
						<div class="reorder-controls"
							ng-show="subMenu"
							ng-class="{ show: subMenu }">
							<p>
								Change this question's order in this category.
								<br/>
								Swap with:
							</p>
							<button class="shift-left"
								ng-show="curQuestion.index > 0"
								ng-click="questionReorder(false)">
								Previous
							</button>
							<button class="shift-right"
								ng-show="curQuestion.index < curCategory.items.length && !curCategory.items[curQuestion.index+1].untouched"
								ng-click="questionReorder(true)">
								Next
							</button>
						</div>
						<button class="remove" ng-click="deleteQuestion(curQuestion.index)">Delete</button>
						<button class="submit action" ng-click="editComplete()">Done</button>
					</div>
				</div>
				<div class="arrow_box_tip" id="first_cat_tip" ng-show="step == 1">Click here to create your first category</div>
				<div class="arrow_box_tip" id="name_cat_tip" ng-show="step == 2">Now name this category</div>
				<div class="arrow_box_tip" id="first_question_tip" ng-show="step == 3">Click here to add your first question</div>
			</div>
			<div class="question-count">
				<ng-pluralize count="numQuestions()"
					when="{
					'0': 'No Questions',
					'1': '1 Question',
					'other': '{} Questions'}">
				</ng-pluralize>
			</div>
		</div>
		<div id="backgroundcover"
			ng-click="hideCover()"
			ng-class="{ show: showIntroDialog || showTitleDialog }">
		</div>

		<div class="dialog intro" ng-class="{ show: showIntroDialog }">
			<img src="assets/creator_example.png">
			<h1>Enigma</h1>
			<p>Create a gameboard of multiple choice questions</p>
			<p>Questions are organized by categories.</p>
			<p>Each question is worth the same amount.</p>
			<hr>
			<b>Start by giving your Enigma widget a title</b><br>
			<input type="text"
				placeholder="My Enigma widget"
				ng-enter="setTitle()"
				ng-model="introTitle"
				focus-me="showIntroDialog">
			<button ng-click="setTitle()">Get Started</button>
		</div>

		<div class="dialog title" ng-class="{ show: showTitleDialog }">
			<b>Give your Enigma widget a title</b><br>
			<input type="text"
				placeholder="My Enigma widget"
				ng-model="title"
				focus-me="showTitleDialog"
				ng-enter="hideCover()">
			<button ng-click="hideCover()">Done</button>
		</div>

		<div id="incomplete_alert"
			ng-show="incompleteMessage"
			ng-class="{ fade: incompleteMessage, warn: warningMessage }"
			ng-click="killAlert()">
			<span ng-repeat="messagePart in incompleteMessage">{{ messagePart }}</span>
			<p>(Click this message to dismiss it)</p>
		</div>
	</body>
</html>
