description/* Standardize padding in all browsers */
* {
	margin: 0;
	padding: 0;
	user-select: none;
}

input,
textarea {
	outline: none;
	resize: none;
	user-select: text;
}

textarea {
	font-family: verdana;
}

html {
	min-height: 100%;
}

body {
	background: #1b2128;
	color: #fff;
	font-family: 'Lato', "Arial", sans-serif;
	font-weight: 300;
}

a {
	color: #fff;
}

$green: #70bd34;

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot?-jn78cs');
	src:url('assets/font/icomoon.eot?#iefix-jn78cs') format('embedded-opentype'),
		url('assets/font/icomoon.woff?-jn78cs') format('woff'),
		url('assets/font/icomoon.ttf?-jn78cs') format('truetype'),
		url('assets/font/icomoon.svg?-jn78cs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\ea0a";
}
.icon-close:before {
	content: "\ea0f";
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;
	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		float: right;
		margin-right: 10px;
		margin-top: 6px;
		font-size: 14px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
		max-width: 500px;
		white-space: nowrap;
		overflow:hidden;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

#board {
	width: 750px;
	background: #2f3845;
	margin: auto;
	position: relative;
	display: block;
	margin-bottom: 80px;

	.categories {
		position: relative;
	}
	.question-count {
		margin: 0 auto;
		width: 10%;
		white-space: nowrap;
		padding: 0 0 10px 0;
	}
}

button {
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	border: none;
	font-family: 'icomoon';

	&:hover {
		cursor: pointer;
	}

	&.delete {
		height: 24px;
		width: 26px;
		&:after {
			content: "\ea0f";
			color:#FFF;
		}
		&:hover {
			background-color:#BE3434;
		}
		&:hover:after {
			color:white;
		}
	}

	&.add {
		height: 42px;
		margin: 0;
		padding: 0;
		width: 42px;
		background: $green;
		font-size: 26px;
		color: #fff;
		border-radius: 50px;
		position:absolute;
		left: 20px;
		outline: none;

		&:hover {
			background: #78DD5E;
			color: #000;
		}

		&:after {
			content: "\ea0a";
		}
	}
}

.question {
	background-color: #d1d7e2;
	border: 3px solid #16222a;
	display: inline-block;
	height: 80px;
	width: 80px;
	margin: 5px;
	margin-left: 8px;
	margin-top: 15px;
	padding: 0;
	position: relative;

	vertical-align: top;
	text-align: center;
	overflow: hidden;

	opacity: 0.1;

	clear: both;

	div {
		color: #000;
		font-size: 12px;
		margin: 40px 0 0;
		padding: 0;
		text-align: center;
		white-space: pre-line;
		width: 100%;
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
	}
	.number {
		text-align: center;
		color: #333;
		width: 58px;
		font-size: 36px;
		font-weight: 400;
		padding: 4px;
		display: inline-block;
		margin-top: 16px;
		clear: both;
	}

	&.dim,
	&.dim:hover {
		background-color: #7d8184;
		outline: none;
	}

	&.show {
		opacity: 1;
		cursor: pointer;

		&.incomplete {
			background-color: #741c23;
			border-color: #000;

			.number {
				color: #fff;
			}

			&:hover {
				background-color: #ad363c;
			}
		}
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.dialog {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: fixed;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
	}
	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	button {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: #70bd34;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&:hover,
		&:hover{
			background: #78DD5E;
			color: #000;
			cursor: pointer;
		}
	}

	input {
		width: 450px;
		margin-top: 20px;
		border: solid 1px #333;
		font-size: 16px;
		color: #333;
		background: #fff;
		border: solid 2px #70bd34;
		padding: 11px;
		margin-left: 0px;
	}

}

label.checktoggle {
	cursor: pointer;
	display: inline-block;
	width: 80px;
	height: 17px;
	background: #777;
	padding: 5px;
	color: #fff;

	position:relative;
	margin-left: 20px;

	transition: all ease 0.25s;

	&:before {
		content: 'OFF';
		transition: all ease 0.25s;
		background: #be3434;
		padding: 5px 7px;
		margin: -5px;
		width: 30px;
		display: inline-block;
	}
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + label.checktoggle {
	&:before {
		content: 'ON';
		background: #70be34;
		margin-left: 35px;
		padding-left: 13px;
	}
}

.importedbackground {
	background: #4d5355;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 236px;
	display: none;

	&.show {
		animation: slide 0.5s;
		display: block;
	}
}

.imported_pane {
	display: none;
	width: 100%;

	background: #4d5355;
	margin: 0px;
	margin-bottom: 5px;

	&.show {
		display: block;
		animation: slide 0.5s;
	}

	.arrow_box_tip {
		width: 184px;
		text-align: left;
		top: -40px;
		left: 250px;
		font-weight: 400;

		&:after {
			border-color: rgba(157, 82, 164, 0);
			border-top-color: #9d52a4;
			border-width: 15px;
			margin-left: -15px;
		}
	}

	button {
		position:absolute;
		top: 5px;
		right: 5px;
		background: #70bd34;
		font-size: 13px;
		color: #fff;
		border: none;
		padding: 9px;
		margin: 7px;
	}

	.imported {
		margin: auto;
		width: 730px;
		height: 150px;
		background: #717577;
		padding: 10px;
		overflow: hidden;
		display: block;
		box-shadow: inset -10px -5px 5px #717577;

		b {
			position:relative;
			top: 8px;
			margin: 5px;
			font-size: 15px;
			font-weight: 400;
		}

		.overflower {
			position: relative;
			width: 1000px;

			.importable {
				position: relative;
				background: #fff;
				color: #333;
				display: inline-block;
				height: 78px;
				width: 68px;
				margin: 20px 7px;
				margin-top: 29px;
				padding: 6px;
				padding-right: 16px;
				overflow: hidden;
				word-break: break-all;
				z-index: 10;
				font-size: 13px;

				span {
					cursor: pointer;
					color: #fff;
					background: #333;
					opacity: 0;
					position:absolute;
					right: 0px;
					top: 0px;
					padding: 2px 5px;
					text-decoration: none;
				}
				&:hover {
					span {
						opacity: 1;
					}
				}
				&.dragging:hover {
					span {
						opacity: 0;
					}
				}
				&.green {
					border: solid 3px #71be34;
				}
				&.red {
					border: solid 3px #f6002b;
				}
			}
		}

	}
}

.category {
	display: block;
	height: 120px;
	margin: 0;
	padding-left: 20px;
	overflow-x: hidden;
	white-space: nowrap;

	.dndPlaceholder {
		display: none;
	}

	div.newcat {
		display: block;
		background: rgba(112, 189, 52, 0.4);
		border: solid 3px $green;
		text-align: center;
		height: 19px;
		padding: 50px 0px;
		text-transform: uppercase;
		position:absolute;
		left: 0px;
		right: 0px;
		opacity: 0;
		z-index: 1;
		cursor: pointer;
	}

	&:hover {
		div.newcat {
			opacity: 1;
		}
	}

	& > button.add {
		left: 45px;
	}

	&.active {
		background-color: #16222a;
	}
	&.drop_target {
		box-shadow: 0px 0px 1px 2px rgba(178, 255, 255, .75);
	}

	.add_line {
		background-color: #d3d3d3;
		display: inline-block;
		height: 100px;
		margin-top: 15px;
		vertical-align: top;
		width: 5px;
	}

	.add {
		margin-left: 10px;
		margin-top: 40px;
	}

	.label {
		background: #fff;
		border-radius: 5px;
		border: 4px solid #fff;
		display: inline-block;
		margin-top: 30px;
		position: relative;
		vertical-align: middle;
		float: left;
		margin-right: 10px;

		button {
			position: absolute;
		}

		.shift-up, .shift-down {
			color: #d2d2d2;
			right: 0;
			&:hover {
				color: #8a8a8a;
			}
		}
		.shift-up {
			top: 0;
			&:before {
				content: "\ea32";
			}
		}
		.shift-down {
			bottom: 0;
			&:before {
				content: "\ea36";
			}
		}

		.delete {
			left: -15px;
			top: -15px;
			background-color: #fff;
			border-radius: 13px;

			&:after {
				color: #000;
			}

			&:hover {
				background-color: #BE3434;
			}
		}

		textarea {
			border-radius: 10px;
			border: none;
			margin: 0px;
			padding: 10px 5px;
			resize: none;
			width: 96px;
			font-size: 13px;
			overflow: hidden;
			text-transform: uppercase;
			text-align: center;
			height: 28px;

			&:focus {
				text-align: left;
				outline: solid 1px #999;
			}
		}

		&:after {
			border-bottom: 12px solid transparent;
			border-left: 12px solid #fff;
			border-top: 12px solid transparent;
			content: "";
			position: absolute;
			top: 30%;
			z-index: 0;
		}
	}
	.questionholder {
		counter-increment: q;
		position:relative;
		display: inline-block;
	}

}

#question_editor {
	position: absolute;
	left: 0px;
	right: 0px;
	border: solid 4px #fff;
	background: #3b4657;
	top: 0px;
	padding: 10px;
	opacity: 0;

	transition: all 0.25s ease;

	&.show {
		opacity: 1;
		animation: bloop 0.2s;
	}

	&.increaseZ {
		z-index: 2;
	}

	&:after,
	&:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(213, 0, 0, 0);
		border-bottom-color: #3b4657;
		border-width: 20px;
		margin-left: -200px;
		transition: all 0.2s ease;
	}
	&:before {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 26px;
		margin-left: -206px;
		transition: all 0.2s ease;
	}

	&.q1:after {
		margin-left: -200px;
	}

	&.q1:before {
		margin-left: -206px;
	}

	&.q2:after {
		margin-left: -100px;
	}

	&.q2:before {
		margin-left: -106px;
	}

	&.q3:after {
		margin-left: 0px;
	}

	&.q3:before {
		margin-left: -6px;
	}

	&.q4:after {
		margin-left: 98px;
	}

	&.q4:before {
		margin-left: 92px;
	}

	&.q5:after {
		margin-left: 198px;
	}

	&.q5:before {
		margin-left: 192px;
	}

	&.q6:after {
		margin-left: 298px;
	}

	&.q6:before {
		margin-left: 292px;
	}

	.title {
		font-weight: 700;
	}

	/** Media Uploader **/

	.editor-top {
		display: flex;
		flex-direction: row;
		position: relative;

		button {
			background-color: #70bd34;
			color: #fff;
			padding: 10px;
			margin: auto;
			font-family: 'Lato', "Arial", sans-serif;

			&:hover {
				color: #000;
			}

		}

		.media-box {
			display: flex;
			flex-direction: column;
			margin: 7px 0px 7px 7px;
			padding: 5px;

			.description-form {
				width: 100%;
			}
			.description-input {
				width: 100%;
				padding: 2px;
				box-sizing: border-box;
				border: 0;
			}

			.media-options {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				button {
					margin: 10px 5px 0 5px;
				}
			}
		}

		.image {
			max-width: 200px;
		}

		.add-media-popup {
			z-index: 10000;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			background-color: #2f3845;
			border: 5px #fff solid;
			color: #fff;

			height: 275px;
			left: 25%;
			right: 25%;
			width: auto;

			> * {
				width: 50%;
				margin: auto;

				&.back {
					background-color: #fff;
					color: #000;
					font-family: "icomoon";

					position: absolute;
					top: 10px;
					left: 10px;
					width: auto;
					border-radius: 10px;

					&:hover {
						color: #70bd34;
					}

					&:after {
						content: "\ea38";
					}
				}

				&.close {
					background-color: #be3434;
					font-family: "icomoon";

					position: absolute;
					top: -20px;
					right: -20px;
					width: auto;
					border-radius: 50%;
				}
			}

			.video-form {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				button {
					width: 50%;
					margin: auto;
				}

				.video-input {
					width: 75%;
					margin: 5px auto;
					padding: 5px;
					font-size: 13px;
				}
			}

		}

		textarea {
			display: inline-block;
			width: 699px;
			margin: 7px 0px;
			padding: 5px;
			font-size: 13px;

			&.question_text
			{
				width:699px;
				height:40px;
				border: solid 4px #697296;
			}

			&.answerChoiceBox {
				width: 320px;
				height: 60px;
				font-size: 14px;
				font-weight: bold;
				border: solid 1px #8b8989;
			}

			&.feedbackChoiceBox {
				width: 180px;
				height: 60px;
				font-size: 12px;
				border: solid 1px #999;
				border-radius: 8px;
			}
		}
	}

	.questions {
		display: block;
		padding: 8px;
		width: 693px;


		th{
			padding-bottom:12px;
		}

		td{
			padding: 0 10px;
			vertical-align: top;
		}
		td:first-child,
		td:last-child{
			padding:0;
		}

		a {
			color: #188eed;
			&:hover {
				color:#1766A5;
			}
		}

		.controls {
			display: inline-block;
			position:relative;
			top: 10px;

			a {
				position:relative;
				color: #FFF;
				display: block;
				font-size: 11px;
				text-align: center;
				margin-top:5px;
			}
		}

		.delete {
			vertical-align: top;
		}

		.text {
			border-radius: 30px;
			top: -25px;
			left: 10px;
			position: relative;
			width: 70px;
			font-size: 15px;

			padding: 5px 8px;
			border: solid 1px #999;

			color: #333;
			background: #fff;

			text-align: center;

			margin-top: 4px;
			margin-bottom: -8px;
			margin-right: 22px;

			vertical-align: top;

			input {
				border: none;
				width: 30px;
				font-size: 15px;
				text-align: right;
				outline: none;
				margin: 0px;
			}
		}

		label {
			left: -10px;
			background: #be3434;
			border-radius: 30px;
			overflow: hidden;
			padding-top: 9px;
			padding-bottom: 8px;
			cursor: pointer;

			&:hover {
				background: #de4444;
			}

			&:before {
				transition: all ease 0.25s;
				padding: 2px 2px;
				width: 15px;
				height: 15px;
				background: #fff;
				border-radius: 30px;
				content: '';
				top: -4px;
				left: 8px;
				position: relative;
			}
			span {
				font-size: 10px;
				position:relative;
				top: 2px;
				left: 20px;

				&:before {
					position: absolute;
					content: 'WRONG';
				}
			}
		}

		input[type=checkbox]:checked + label.checktoggle {
			background: #70be34;
			&:hover {
				background: #80de44;
			}
			position:relative;
			&:before {
				margin-left: 50px;
			}
			span {
				&:before {
					content: 'CORRECT';
					left: -80px;
				}
			}
		}
	}

	.dialog-controls {
		position: relative;
		height:56px;
		width:100%;
		vertical-align: bottom;

		.open-submenu {
			position: absolute;
			left: 170px;

			&:before {
				font-family: 'icomoon';
				content: "\e994";
			}
		}

		.reorder-controls {
			position: absolute;
			left: 220px;
			border: solid 4px #fff;
			background: #3b4657;
			padding: 10px;
			height: 80px;
			opacity: 0;

			&.show {
				opacity: 1;

				.shift-left {
					position: absolute;
					left: 0;

					&:before {
						font-family: 'icomoon';
						content: "\ea38";
					}
				}

				.shift-right {
					position: absolute;
					right: 0;

					&:after {
						font-family: 'icomoon';
						content: "\ea34";
					}
				}
			}
		}

		button {
			font-size: 14px;
			color: #fff;
			border: none;
			padding: 10px;
			margin: 7px;
			font-family: 'Lato', "Arial", sans-serif;

			&:hover,
			&:hover {
				background: #78DD5E;
				color: #000;
				cursor: pointer;
			}

			&.add-question {
				position: absolute;
				left: 10px;
			}

			&.action {
				background: #70bd34;
			}

			&.submit {
				position: absolute;
				right:10px;
			}

			&.remove {
				position: absolute;
				right:75px;
				background:none;
				font-weight:normal;
				text-decoration: underline;
			}
		}
	}
}

#incomplete_alert {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -130px;
	width: 260px;
	background: #ad363c;
	padding: 10px;
	border-radius: 5px;
	opacity: 1;
	z-index: 9000;

	&.warn {
		background: #96a422;
	}

	&.fade {
		opacity: 0;
		animation: fade 10s linear;
	}

	span {
		display: block;

		&:first-child {
			margin-bottom: 10px;
		}
	}

	p {
		text-align: center;
		margin: 5px auto 0;
		font-size: 12px;
	}
}

#question_tooltip {
	position: absolute;
	border-radius: 5px;
	background: #d1d7e2;
	width: 650px;
	padding: 10px 0;
	z-index: -1;
	opacity: 0;
	text-align: center;
	color: #333;

	left: 110px;

	transition: opacity 0.25s ease;

	&.problems {
		color: #fff;
		background: #ad363c;

		&:before {
			border-bottom-color: #ad363c;
		}
	}

	p {
		padding: 0 2px;
		margin-bottom: 10px;
	}

	span:not(:first-child) {
		text-align: left;
		display: block;
		margin: 0 10px;
	}

	hr {
		margin: 0 10px;
		border-bottom: none;
		opacity: .5;
	}

	.correct {
		color: #70be34;
		weight: bold;
	}

	&.show {
		opacity: 1;
		z-index: 2;
	}

	&:before {
		bottom: 100%;
		border: solid transparent;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #d1d7e2;
		border-width: 26px;
		content: " ";
		position: absolute;
		pointer-events: none;
	}

	&.q1:before {
		left: 60px;
	}

	&.q2:before {
		left: 160px;
	}

	&.q3:before {
		left: 249px;
	}

	&.q4:before {
		left: 348px;
	}

	&.q5:before {
		left: 446px;
	}

	&.q6:before {
		left: 546px;
	}
}

#first_cat_tip {
	top: -48px;
	left: -12px;
}

#name_cat_tip {
	top: -48px;
	left: -12px;
}

#first_question_tip {
	top: -48px;
	left: 108px;
}

.arrow_box_tip {
	display: inline-block;
	position: relative;
	background: #9d52a4;
	border: 2px solid #9d52a4;
	position: absolute;
	width: 150px;
	padding: 10px;
	z-index: 100;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	animation: bounce 1s infinite;

	&:after,
	&:before{
		top: 100%;
		left: 50%;
		border: solid transparent;
		border-color: rgba(157, 82, 164, 0);
		border-top-color: #9d52a4;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-width: 15px;
		margin-left: -15px;
	}

	&:before {
		border-width: 18px;
		margin-left: -18px;
	}
}

@keyframes bounce {
	0% {
		transform: translate(0px,0px);
	}
	50% {
		transform: translate(0px,10px);
	}
	100% {
		transform: translate(0px,0px);
	}
}

@keyframes bloop {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide {
	0% {
		margin-top: -150px;
	}
	100% {
		margin-top: 0px;
	}
}

@keyframes fade {
	0%   { opacity: 1}
	100% { opacity: 0}
}
