@import 'assets/css/icomoon.css';

* {
	outline: 0;
}

@mixin boxSizing()
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$blue: #111f2c;
$dblue: #1a2b3f;

@font-face {
	font-family: 'CorbelBold';
	src: url('assets/font/corbelb-webfont.eot');
	src: url('assets/font/corbelb-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/font/corbelb-webfont.woff') format('woff'),
		 url('assets/font/corbelb-webfont.ttf') format('truetype'),
		 url('assets/font/corbelb-webfont.svg#CorbelBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

html {
	overflow: auto;
}

body {
	overflow: hidden;
}

html, body {
	cursor: default;
	background-color: #2f3944;
	padding: 0;
	margin: 0;
	font-family: 'CorbelBold', sans-serif;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

.invisible-until-focused {
	opacity: 0;
	height: 0;
	width: 0;
	pointer-events: none;

	&:focus {
		opacity: 1;
		height: auto;
		width: auto;
	}
}

header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 115px;
	background: $blue;
	color: #fff;
	background: -moz-linear-gradient(top,  $blue 0%, $dblue 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$blue), color-stop(100%,$dblue));
	background: -webkit-linear-gradient(top,  $blue 0%,$dblue 100%);
	background: -o-linear-gradient(top,  $blue 0%,$dblue 100%);
	background: -ms-linear-gradient(top,  $blue 0%,$dblue 100%);
	background: linear-gradient(to bottom,  $blue 0%,$dblue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${blue}', endColorstr='${dblue}',GradientType=0 );

	h1 {
		line-height: 50px;
		height: 50px;
		margin: 25px 0 0;
		padding: 0;
		margin-left: 14px;
		position: absolute;
		overflow: hidden;
		width: 77%;
		font-size: 25px;
		font-weight: normal;
		span {
			display: inline-block;
			line-height: normal;
			vertical-align: middle
		}
		&:focus {
			text-shadow: 0 0 4px #ccc;
			text-decoration: underline;
		}
	}
	.score {
		color: white;
		position: absolute;
		line-height: 90px;
		top: 9px;
		right: 9px;
		font-size: 60px;
		font-family: sans-serif;
		font-weight: bold;
		height: 120px;
		width: 120px;
		z-index: 10;
		.hidden {
			display:none;
		}
		.value {
			-webkit-backface-visibility: hidden;
			position: absolute;
			top: 2px;
			right: 44px;
		}
		.doubleDigit {
			right: 28px;
		}
		.remaining {
			position: absolute;
			top: 34px;
			right: 25px;
			font-size: 15px;
		}
		svg {
			// override raphael setting of overflow from hidden to visible
			// so full circle will show up in IE9
			overflow: visible !important;
		}
		&:focus {
			border-radius: 50%;
			box-shadow: 0 0 4px 4px #ccc;
		}
	}
	.divider {
		background-color: #4d5355;
		height: 25px;
		position: absolute;
		top: 90px;
		width: 100%;
		padding-left: 10px;
		text-align: left;
		@include boxSizing();
		color: #8f979a;
		font-size: 15px;
		line-height: 25px;

		.instructions:focus,
		.instructions:hover {
			text-decoration: underline;
		}
	}
}

.gameboard {
	padding: 5px;
	margin: 120px 0 0 0;
	@include boxSizing();
	.category {
		clear:both;
		padding: 5px;
		overflow: auto;
		-webkit-transition: 200ms;

		.title {
			float: left;
			background: #fff;
			border: 3px solid #fff;
			border-radius: 5px;
			width: 110px;
			padding: 17px 10px;
			margin: 15px 5px 0 0;
			position: relative;
			min-height: 20px;

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-left: 9px solid #fff;
				right: -11px;
				top: 12px;
				position: absolute;
				-moz-transform: scale(1.0001);
				-o-transform: scale(1.0001);
			}
		}

		.question {
			position: relative;
			float: left;
			font-family: sans-serif;
			margin: 0 0 0 5px;
			height: 90px;
			width: 90px;
			text-align: center;
			line-height: 90px;
			background: #d1d7e1;
			border: 3px solid black;
			font-weight: 800;
			font-size: 40px;
			cursor: hand; cursor: pointer;
			overflow: hidden;
			-webkit-transition: 200ms;
			   -moz-transition: 200ms;
			    -ms-transition: 200ms;
			     -o-transition: 200ms;
			.container {
				position: absolute;
				margin: -93px 0 0 -13px;
			}
			@include boxSizing();
			&:hover, &:focus {
				background: #fff;
				-webkit-transform: scale(1.05);
				   -moz-transform: scale(1.05);
				    -ms-transform: scale(1.05);
				     -o-transform: scale(1.05);
				-webkit-transition: 200ms;
				   -moz-transition: 200ms;
				    -ms-transition: 200ms;
				     -o-transition: 200ms;
			}
			&:hover.wrong, &:hover.correct {
				-webkit-transform: none;
				   -moz-transform: none;
					-ms-transform: none;
					 -o-transform: none;
			}

			&.correct {
				font-size: 80px;
				color: #4187c9;
				background: #9ebbd9;
				border: 3px solid #4187c9;

				span.correct-marker {
					position: relative;
					right: 5px;
					top: 5px;
				}
			}
			&.wrong {
				font-size: 100px;
				color: #AC3434;
				background: #cf8c92;
				border: 3px solid #AC3434;

				span.incorrect-marker .icon-close {
					position: absolute;
					top: calc(50% - 33px);
					left: calc(50% - 33px);

					font-size: 66px;
				}
			}
			&.partial {
				font-size: 30px;
			}
			@-moz-document url-prefix() {
				.question.wrong {padding: 5px;}
			}
		}
		&:hover {
			background: #3e4c5b;
			.title {
				border: 3px solid #ddd;
				&:after {
					border-left: 9px solid #ddd;
				}
			}
		}
	}

	.invisible-until-focused:focus {
		background: #eff0f2;
		border: 3px solid #697393;
		padding: 20px 10px;
	}
}

#t-question-page:focus {
	border: 2px solid #1793ff;
	box-shadow: 0 0 10px #1793ff;
}

.question-popup-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: #2f3944;
}

.question-popup {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #3a4655;
	min-height: 434px;
	padding: 20px;
	padding-top: 67px;
	padding-bottom: 0;
	border: 3px solid #fff;
	z-index: 101;
	overflow-y:auto;

	&.hasMedia {
		padding-top: 30px;
	}

	.instructions {
		color: #fff;
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 13px;

		&:focus {
			text-decoration: underline;
		}
	}

	h1 {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		color: #fff;
		font-size: 27px;
		font-weight: normal;
		margin-bottom: 5px;
	}

	input, .button-checked {
		opacity: 0;

		-webkit-transition: opacity .1s ease-in-out;
		   -moz-transition: opacity .1s ease-in-out;
		        transition: opacity .1s ease-in-out;

		&.selected {
			opacity: 1;
		}
	}
	svg {
		position: absolute;
		height: 100%;
		margin: 1px 2px -5px 0;
	}

	.question-text-and-media {
		display: flex;
		flex-direction: row;
		background: #eff0f2;
		padding: 20px 10px;
		border: 3px solid #697393;

		&:focus-within {
			background: #fff;
			box-shadow: 0 0 4px 4px #ccc;
		}
	}

	.question-text {
		flex-grow: 2;
		padding-right: 5px;
	}

	.media {
		position: relative;
		display: flex;
		justify-content: right;
		flex-direction: column;
		width: 300px;

		> * {
			max-height:180px;
		}

		img {
			object-fit: contain;

			&:focus {
				box-shadow: 0 0 4px 4px #ccc;
			}
		}

		figure {
			margin: 0;
		}

		.media-description {
			max-width: 100%;
			overflow: hidden;
			text-align: center;
			height: 25px;
		}

		audio:focus-within {
			border-radius: 30px;

			&:focus,
			&:focus-within {
				box-shadow: 0 0 4px 4px #ccc;
			}
		}
	}

	.expand-into-lightbox {
		// width: 100px;
		position: absolute;
		top: 0;
		right: 0;
		margin: auto;

		background-color: #2f3944;
		color: #fff;
		padding: 6px;

		border: 2px solid #eff0f2;

		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;

		cursor: pointer;

		&:hover,
		&:focus {
			background-color: #eff0f2;
			color: #2f3944;
		}
	}

	.answers {
		background: #fff;
		padding: 10px;
		margin-top: 10px;
		border: 3px solid #697393;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				position: relative;
				padding:2px 5px;
				&.selected {
					background: #d1d7e1;
				}
				&:hover, &:focus {
					background: #4187c9;
					color: #fff;
				}
				.feedback {
					display: block;
					position: relative;
					font-size: 16px;
					color: #555;
					padding: 4px;
					margin-top: 3px;
					padding-left: 30px;
				}
				p {
					display: inline-block;
					width: 500px;
					margin: 1px 0 1px 26px;
				}
			}

			.mark-holder {
				opacity: 0;

				-webkit-transition: opacity .4s ease-in-out;
				   -moz-transition: opacity .4s ease-in-out;
				        transition: opacity .4s ease-in-out;

				&.visible {
					opacity: 1;
				}
			}

			&.answered li {
				transition: .4s;
				-webkit-transition: .4s;
				padding:2px 5px 2px 20px;
				&.selected:hover{
					background: #d1d7e1;
				}
				&:hover {
					background:#fff;
					color:#000;
				}
				.mark {
					position: absolute;
					left: 5px;
					height: 20px;
					&.correct {
						margin: -2px 0 0 0;
						color:#4187c9;
					}
					&.partial {
						margin: 10px 0 0 -2px;
						color:#3777b4;
						font-size: 13px;
						font-family: Helvetica, Arial, sans;
						font-weight: bold;
						line-height: 0;
					}
					&.wrong {
						color:#cc0000;
					}
				}
			}
		}
		label {
			padding-left: 10px;
			width: 90%;
			display: inline-block;
		}
	}
	.menu {
		text-align: right;
		margin-top: 13px;

		button {
			display: inline;
			padding: 4px;
			background: rgb(60, 60, 60);
			border: 2px solid #fff;
			margin: 5px 2px;
			text-transform: uppercase;
			color: white;
			font-size: 13px;
			cursor: hand; cursor: pointer;
			font-weight: bold;
			&.highlight {
				background: #4187c9;
				-webkit-transition: 100ms;
				   -moz-transition: 100ms;
				    -ms-transition: 100ms;
				     -o-transition: 100ms;
				        transition: 100ms;
			}
			&.submit {
				background: #4187c9;
				-webkit-transition: 100ms;
				   -moz-transition: 100ms;
				        transition: 100ms;
			}
			&:hover, &:focus  {
				background: #FFF;
				border-color: #FFF;
				color: #333;
			}
			&.submit:disabled {
				background: #494949;
				color: #ccc;
				border: 2px solid #999;
			}
			&:disabled:hover {
				background: #494949;
				cursor: default;
			}
		}
	}
}

.lightbox {
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;

	background: rgba(55,55,55,0.75);

	cursor: pointer;

	&.show {
		z-index: 500;
	}

	.lightbox-content {
		position: relative;
		width: 90%;
		height: 90%;
		margin: 2.5% 5%;
		margin-bottom: 0;
		background: rgba(45,45,45,1);

		cursor: default;

		.lightbox-close {
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 1;

			width: 30px;
			height: 30px;

			border: none;
			border-radius: 5px;

			color: #fff;
			background: #e42b20;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

			font-size: 18px;
			font-weight: bold;
			text-align: center;

			cursor: pointer;

			&:hover,
			&:focus {
				background: #6c6c6c;
			}
		}

		.lightbox-video {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			margin-top: 10px;
			margin-left: 10px;
		}

		.lightbox-image-container {
			height: calc(100% - 40px);
			margin-top: 10px;
			// margin-left: 10px;
			overflow: auto;
		}

		.lightbox-image {
			position: relative;
			display: block;
			margin: 20px auto 0 auto;

			&:focus {
				box-shadow: 0 0 4px 4px #ccc;
			}
		}

		.lightbox-image:hover {
			cursor: zoom-in;
		}

		.lightbox-image-zoom-in {
			object-fit: cover;
			height: auto;
		}

		.lightbox-image-zoom-in:hover {
			cursor: zoom-out;
		}

		.lightbox-image-zoom-out {
			max-width: calc(100% - 20px);
			max-height: calc(100% - 20px);
		}

		.media-description {
			color: white;
			padding: 0 10px;
			margin: 0;
			height: 40px;
			position: absolute;
			bottom: 15px;
			overflow-x: hidden;
			overflow-y: auto;
			box-sizing: border-box;
		}
	}
}


.notice {
	color: white;
	display: block;
	position: fixed;
	width: 100%;
	top: 0px;
	background: #3a4655;
	height: 100%;
	border: 10px solid $blue;
	padding: 20px;
	text-align: center;
	z-index: 1000;

	@include boxSizing();
	p {
		display: block;
		margin: 5px auto;
		width: 75%;
		text-align: left;
	}

	h1 {
		font-weight: normal;
		&.top-padded {
			padding-top: 170px;
		}
	}
	button {
		display: block;
		background: #4187c9;
		border: 2px solid black;
		font-size: 16px;
		padding: 10px;
		border: 2px solid #fff;
		margin: 5px auto;
		text-transform: uppercase;
		color: white;
		cursor: hand; cursor: pointer;
		font-weight: bold;

		&:hover, &:focus {
			background: rgb(178, 217, 255);
			color: #4187c9;
			border-color: #4187c9;
		}

		&.instructions-button {
			margin-top: 15px;
		}
	}
	#scorebox_final {
		top: 40px;
		left: 50%;
		margin-left: -60px;
		width: 120px;
		height: 120px;
	}
	.score {
		color: rgb(42, 240, 177);
		position: absolute;
		line-height: 90px;
		font-size: 40px;
		font-family: sans-serif;
		font-weight: bold;
		z-index: 10;
		.hidden {
			display: none;
		}
		.value {
			-webkit-backface-visibility: hidden;
			position: absolute;
			top: 5px;
			right: 47px;
			&.all-correct {
				top: 14px;
				right: 38px;
			}
			&.all-wrong {
				color: #b33434;
				font-size: 70px;
				top: 11px;
				right: 50px!important;
			}
		}
		.percent {
			font-size: 20px;
			position: absolute;
			top: 42px;
			right: 26px;
			line-height: 30px;
			&.all-correct {
				top: 51px;
				right: 18px;
			}
			&.all-wrong {
				color: #b33434;
				font-size: 30px;
				top: 54px;
				right: 22px;
			}
		}
		.percent-wrong {
			color: rgb(179, 52, 52);
			position: absolute;
			top: 30px;
			right: 20px;
			font-size: 15px;
		}
	}
}

.remaining-box {
	text-align:center;
}

.numberExit {
	-webkit-animation: numberExit 300ms;
	        animation: numberExit 300ms;
}

.numberEnter {
	-webkit-animation: numberEnter 300ms;
	        animation: numberEnter 300ms;
}

.percent-ring {
	transform-origin: 60px 60px;
}
.parent-ring {
	width: 120px;
	height: 120px;
	transform: rotate(-90deg);
}
.animated {
	transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


@keyframes numberExit {
	0%   {transform: rotateX(0deg); -ms-transform: rotateX(0deg);}
	100% {transform: rotateX(90deg); -ms-transform: rotateX(90deg);}
}

@keyframes numberEnter {
	0%   {transform: rotateX(90deg); -ms-transform: rotateX(90deg);}
	100% {transform: rotateX(0deg); -ms-transform: rotateX(0deg);}
}

@-webkit-keyframes numberExit {
	0%   {-webkit-transform: rotateX(0deg);}
	100% {-webkit-transform: rotateX(90deg);}
}

@-webkit-keyframes numberEnter {
	0%   {-webkit-transform: rotateX(90deg);}
	100% {-webkit-transform: rotateX(0deg);}
}

/* this is a class created on webaim to hide content from sighted users while allowed
 content to be seen by screen readers */
.clip {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
