$mobile_w_px: 576px;

body {
  background: #3B4655;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

.headings {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.sub-heading {
  color: #94A3B8;
  font-size: 0.9 rem; 
  margin-bottom: 40px !important; 
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* CARDS DESIGN */

#score-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px; 
  width: 100%;
  padding-inline-start: 0px;
}

.question-card {
  background-color: #ffffff; 
  color: #0A0A0A; 
  padding: 24px;
  text-align: left; 
  list-style-type: none;
  border: 3px solid #697394 
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-bottom: 10px;
}

.question-label {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #717182;
  letter-spacing: 0.5px;
}

.badge { 
  padding: 9px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.badge-correct {
  background-color: #E6F4F3;
  color: #1B7F79
}

.badge-correct::before {
  content: "✓";
  font-weight: 900;
}

.badge-incorrect {
  background-color: #FFEEEE; 
  color: #DC2626;            
}


.badge-incorrect::before {
  content: "✕";
  font-weight: 900;
}

.question-text {
  font-size: 1.25rem;
  font-weight: 500; 
  color: #0A0A0A;
  margin-bottom: 24px;
  line-height: 1.4;
}

.answers-area {
  display: flex;
  gap: 20px;
  width: 100%;
}

.answer-box {
flex: 1;
  padding: 20px;
  border: 2px solid #E5E7EB; 
  background-color: #F9F9FB;
  display: flex;
  flex-direction: column; 
  gap: 8px; 
}

.answer-box label {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #717182;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  display: block;
}

.answer-box p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

/* CONTEXT STATES FOR CARDS */

.box-incorrect {
  background-color: #FEF2F2;
  border-color: #FCA5A5; 
  color: #DC2626;
}

.box-correct {
  background-color: #F0FAF9;
  border-color: #7cb6b2;
  color: #1B7F79;
}

/* correct answer default */
.box-neutral {
  background-color: #F9F9FB; 
  border-color: #E5E7EB;
} 

#scoreTableContainer {
    display: none;
}

@media (width < $mobile_w_px) {
  body {
    padding: 15px;
  }

  .question-card {
    padding: 18px;
  }

  .question-text {
    font-size: 1rem;
  }

  .headings {
    font-size: 1.5rem;
  }

  .answers-area {
    flex-direction: column;
  }
}
